name: publish

on:
  push:
    branches: [ master ]

env:
  DOTNET_VERSION: '8.0.319'

jobs:
  publish-lin:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - uses: ./.github/actions/dotnet-publish-zip
        with:
          app-name: WadMaker
          app-path: WadMaker
          project-file: WadMaker.csproj
          runtime: linux-x64
          shell: bash
      - uses: ./.github/actions/dotnet-publish-zip
        with:
          app-name: SpriteMaker
          app-path: SpriteMaker
          project-file: SpriteMaker.csproj
          runtime: linux-x64
          shell: bash
      - uses: ./.github/actions/dotnet-publish-zip
        with:
          app-name: ModelTextureMaker
          app-path: ModelTextureMaker
          project-file: ModelTextureMaker.csproj
          runtime: linux-x64
          shell: bash
